<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <form>
    <select name="price" [(ngModel)]="searchCriteria.price">
      <option value="">Price Point</option>
      <option *ngFor="let o of pricePointOptions" [value]="o.value">{{ o.option }}</option>
    </select>

    <input size="30" type="text" name="city" [(ngModel)]="searchCriteria.city" style="margin: 0 10px"/>

    <select name="state" [(ngModel)]="searchCriteria.state">
      <option value="">State</option>
      <option *ngFor="let state of states" [value]="state.abbreviation">{{ state.name }}</option>
    </select>

    <button (click)="searchSubmit($event)">Submit</button>
  </form>

  <!-- <div *ngIf="restraunt.length">
    <app-results [results]="results"></app-results>
  </div> -->

</div>